body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer, .container-two, .container-three, .container-four{
    padding-left: 200px;
    padding-right: 200px;
}

.header, .footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}


.links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 15px;
    margin-top: 10px;
}

.title-text{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
}

#header-button{
    background-color: #3882f6;
}

.hero-maintext{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 15px;
}

.header-main{
    display: flex;
    justify-content: space-around;
    padding: 17px;
    margin-bottom: 40px;
}

.hero-secondary{
    margin-bottom: 15px;
    text-align:left;
}

.gif-jhin{
    margin-left: 20px;
}

.information-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-information{
    display: flex;
    gap: 25px;
    justify-content: center;
    text-align: center;
    padding: 15px;

}

.jhin-skin{
    margin-bottom: 5px ;
}

.container-three{
    background-color: #e5e7eb;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 12px
}

.quote-sign{
    text-align: end;
    margin-bottom: 20px;
}

.action-box{
    background-color: #3882f6;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box-button{
    background: none;
    color: white;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    padding: 10px;

}

.button-right{
    display: flex;
}

.container-four{
    margin-top: 20px;
    margin-bottom: 10px;
}

.title-four{
    margin-bottom: 5px;
    font-weight: bold;
}

.footer{
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
}